# Copyright (C) 2026 Druvx13
#
# This Work is licensed under the FFP (Freedom For People) License,
# Version 1.0.
#
# A copy of this License must be included in the LICENSE file distributed
# with this Work.
#
# You may also obtain a copy of the License at:
# https://github.com/druvx13/FFP/blob/main/LICENSE
#
# THE WORK IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
# IMPLIED.

<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    # Allow access to existing files (assets, uploads)
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Route everything else to index.php
    RewriteRule ^ index.php [QSA,L]
</IfModule>
